{% from "macros.html" import evento_comentarioadmin, eventodetallado,evento_comentario %}
{% extends "cabecera_footer.html" %}
{% block estilo %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estilogeneral.css') }}">
{% endblock %}
{% block iconos %}
<link rel="stylesheet" href="{{url_for('static',filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
{% endblock %}
{% block contenido %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titulo-evento">
          <h1>{{evento["nombre"]}}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <img src="{{url_for('static',filename='imagenes/autodromo.jpg')}}" class="card-img-top imagen-evento" alt="...">
          <div class="card-body">
            <p><span class="oi oi-calendar" title "calendar">{{evento["fecha"]}}</span></p>
            <p><span class="oi oi-clock" title "clock"></span>{{evento["hora"]}}</p>
            <p><span class="oi oi-browser" title "map"></span>{{evento["tipo"]}}</p>
            <p><small class="">{{evento["descripcion"]}}</small></p>
            {% if evento.aprobado== 0 %}
            <a type="button" href="{{url_for('aprobar_evento',id=evento["eventoId"])}}" class="btn btn-warning boton-evento">Aprobar Evento </a><a type="button" style="margin-left:5px"class="btn btn-warning" href="{{url_for('eliminar_evento_admin',id=evento["eventoId"])}}">Eliminar Evento </a>
            {% endif %}
            {% if evento.aprobado== 1 %}
            <a type="button" class="btn btn-warning" href="{{url_for('eliminar_evento_admin',id=evento["eventoId"])}}">Eliminar Evento </a>
            {% endif %}
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="comentario1">
            <h3>Comentarios</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <!--  <div class="media">
          <div class="media-body">
            <h3 class="mt-0 font-weight-bold blue-text">@userx</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit minima eaque dignissimos recusandae
            officiis commodi nulla est, tempore atque voluptas non quod maxime, iusto, debitis aliquid? Iure ipsum,
            itaque.
            <h3 class="mt-0 font-weight-bold blue-text">@userx</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit minima eaque dignissimos recusandae
            officiis commodi nulla est, tempore atque voluptas non quod maxime, iusto, debitis aliquid? Iure ipsum,
            itaque.
            <h3 class="mt-0 font-weight-bold blue-text">@userx</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit minima eaque dignissimos recusandae
            officiis commodi nulla est, tempore atque voluptas non quod maxime, iusto, debitis aliquid? Iure ipsum,
            itaque.
          </div>
        </div>-->
        {% for comentario in listacomentarios %}
        {{ evento_comentarioadmin(comentario) }}
        {% endfor %}
      </div>
      <!--<div class="col-md-4">
        <a type="button" href=""class="btn btn-success boton-evento">Eliminar Comentarios </a>
      </div>-->
    </div>
  </div>

{% endblock %}
