
{% macro mostrar_evento(evento) %}
<div class="col-md-4">
<div class="card-deck">
<div class="card">
  <img class="card-img-top img-fluid" src="{{url_for('static', filename='imagenes/'+evento["imagen"])}}" alt="Card image cap" height="200 px" weight="200px">
  <div class="card-body">
    <h5 class="card-title">{{evento["nombre"]}} </h5>
    <p class="card-text"><span class="oi oi-calendar" title "calendar"></span>{{evento["fecha"].strftime('%d-%m-%Y')}}</p>
    <p class="card-text"><span class="oi oi-clock" title "clock"></span>{{evento["hora"]}}</p>
    <p class="card-text"><span class="oi oi-browser" title "map"></span>{{evento["tipo"]}}</p>
    <a  type="button" href="{{url_for('ver_evento',id=evento["eventoId"])}}" class="btn btn-danger">Ver Evento</a>
  </div>
</div>
</div>
</div>
{% endmacro %}

{% macro evento_admin (evento) %}
<div class="container" id="containerevento">
    <div class="row ">
        <div class="col-md-12">
            <div class="fondo-panel">
                <p>{{evento["nombre"]}}</p>
                <p>Visibilidad<span class="oi oi-eye" title "eye"></i></p>
                <p>Estado<i class="oi oi-check" title="wrench"></i></p>
                <a type="button" class="btn btn-warning" href="{{url_for('eliminar_evento_admin',id=evento["eventoId"])}}">Eliminar Evento </a>
                <a type="button" class="btn btn-light" href="{{url_for('ver_evento_admin',id=evento["eventoId"])}}">Ver Evento </a>
                <a type="button" class="btn btn-dark" href="{{url_for('actualizar_evento',id=evento["eventoId"])}}">Editar Evento </a>
            </div>
        </div>
    </div>
</div>

{% endmacro %}

{% macro evento_admin_pendiente (evento) %}
<div class="container" id="containerevento">
    <div class="row ">
        <div class="col-md-12">
            <div class="fondo-panel">
                <p>{{evento["nombre"]}}</p>
                <p>Visibilidad<span class="oi oi-eye" title "eye"></i></p>
                <p>Estado<i class="oi oi-wrench" title="wrench"></i></p>
                <a type="button" class="btn btn-dark" href="{{url_for('aprobar_evento',id=evento["eventoId"])}}">Aprobar Evento </a>
                <a type="button" class="btn btn-light" href="{{url_for('ver_evento_admin',id=evento["eventoId"])}}">Ver Evento </a>
            </div>
        </div>
    </div>
</div>

{% endmacro %}

{% macro evento_comentario(comentario) %}
<div class="media">
  <div class="media-body">
    <h3 class="mt-0 font-weight-bold blue-text oi oi-person">{{comentario.usuario.nombre}}</h3>
    <h3 class="mt-0 font-weight-bold blue-text">{{comentario["fechahora"]}}</h3>
    <textarea class="form-control">{{comentario["contenido"]}}</textarea>
    </div>
</div>
{% endmacro %}

{% macro evento_detalladousuario (evento) %}
<div class="container" id="containerevento">
  <div class="row ">
        <div class="col-md-12">
<div class="fondo-panel">
    <p>{{evento["nombre"]}}</p>
    <p>Visibilidad<span class="oi oi-eye" title "eye"></i></p>
    <p>Estado<i class="oi oi-check" title="check"></i></p>
    <a type="button"  class="btn btn-warning" href="{{url_for('actualizar_evento',id=evento["eventoId"])}}">Modificar Evento</a>
    <a type="button" class="btn btn-light" href="{{url_for('eliminar_evento_usuario', id=evento["eventoId"])}}">Eliminar Evento</a>
</div>
</div>
</div>
</div>


{% endmacro %}

{% macro eventodetallado (evento) %}
<div class="row">
  <div class="col-md-12">
    <div class="titulo-evento">
      <h1>{{evento["nombre"]}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
    <img src="{{url_for('static',filename='imagenes/'+evento["imagen"])}}" class="card-img-top imagen-evento" alt="...">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-md-2">
  <p><span class="oi oi-calendar" title "calendar"></span>{{evento["fechahora"]}}</p>
  <p><span class="oi oi-browser" title "map"></span>{{evento["tipo"]}}</p>
</div>
  <div class="col-md-2">
    <p class="card-text"><small class="text-muted">{{evento["descripcion"]}}</small></p>
  <a type="button" class="btn btn-success boton-evento">Hacer Comentario </a>


</div>
</div>


{% endmacro %}
{% macro evento_comentarioadmin (comentario) %}
<div class="media">
  <div class="media-body">
    <h3 class="mt-0 font-weight-bold blue-text oi oi-person">{{comentario.usuario.nombre}}</h3>
    <textarea class="form-control">{{comentario["contenido"]}}</textarea>
    <a type="button" class="btn btn-success boton-comentario" href="{{url_for('eliminar_comentario_admin', id=comentario["comentarioId"])}}"  >Eliminar Comentario </a>
    </div>
</div>
{% endmacro %}


<!-- Macros para Formularios -->
<!-- Macro que se encarga de mostrar los errores de validación -->
{% macro mostrar_error(campo) %}
	{% if campo.errors %} <!--Si existen errores -->
	  <div class="alert alert-danger" role="alert">
	  {% for error in campo.errors %} <!--Recorrer errrores-->
	   	{{ error }}<br><!--Mostrar error -->
	  {% endfor %}
	  </div>
	{% endif %}
{% endmacro %}

<!-- Macro que se encarga de mostrar los campos del formulario -->
{% macro mostrar_campo(campo) %}
	{{ campo.label }} <!-- Mostrar etiqueta -->
	{{ campo(**kwargs)|safe }} <!-- Mostrar campo -->
	{{mostrar_error(campo)}}  <!-- Llamar a macro que muestra el error -->
{% endmacro %}


<!-- Macro que se encarga de mostrar los campos tipo submit formulario -->
{% macro mostrar_campo_submit(campo) %}
	{{ campo(**kwargs)|safe }} <!-- Mostrar campo -->
{% endmacro %}
