{% from "macros.html" import evento_detalladousuario %}
{% extends "cabecera_footer.html" %}
{% block estilo %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estilogeneral.css') }}">
{% endblock %}
{% block iconos %}
<link rel="stylesheet" href="{{url_for('static',filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
{% endblock %}
{% block contenido %}
<div class="titulo-miseventos">
<h1>Mis Eventos</h1>
</div>
<div class="container" id="containerevento">
    <div class="row ">
        <div class="col-md-12">
            {% for evento in listaeventos %}
            {{ evento_detalladousuario(evento) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
