{% from "macros.html" import evento_admin,evento_admin_pendiente %}
{% extends "cabecera_footer.html" %}
{% block estilo %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estilogeneral.css') }}">
{% endblock %}
{% block iconos %}
<link rel="stylesheet" href="{{url_for('static',filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
{% endblock %}
{% block contenido %}

<div class="titulo-miseventos">
<h1>Eventos Pendientes </h1>
</div>
{% for evento in eventos_pendientes %}
{{ evento_admin_pendiente (evento) }}
{% endfor %}

<div class="titulo-miseventos">
<h1>Eventos Aprobados</h1>
</div>
{% for evento in eventos_aprobados %}
{{ evento_admin(evento) }}
{% endfor %}


{% endblock %}
