{% from "macros.html" import mostrar_evento,mostrar_campo,mostrar_campo_submit %}
{% extends "cabecera_footer.html" %}
{% block estilo %}
 <link rel="stylesheet" href="{{url_for('static',filename='css/estilogeneral.css') }}">
{% endblock %}
{% block iconos %}
<link rel="stylesheet" href="{{url_for('static',filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
{% endblock %}
{% block contenido %}
<div class="container" id="filtro">

		<form method="GET" action="{{ url_for('pagina') }}" enctype="multipart/form-data">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<div class="form-group">
        <div class="row">
				<div class="col-md-3">
					{{mostrar_campo(filtro.fecha_desde, class='form-control')}}
				</div>
				<div class="col-md-3">
					{{mostrar_campo(filtro.fecha_hasta, class='form-control')}}
				</div>

				<div class="col-md-3">
					{{mostrar_campo(filtro.opciones, class='form-control')}}
				</div>
        <div class="col-md-3">
          {{ mostrar_campo_submit(filtro.submit , class='btn btn-warning boton-filtro')}}
				</div>

			</div>
      </div>
			<!--<div class="form-inline">
				<div class="col-md-4">
					</div>
					<div class="col-md-4">

						</div>
						<div class="col-md-4">
							</div>

			</div>-->

		</form>

</div>
<div class="paginacion">
<div class="row" >
{% for evento in eventos.items %}
{{ mostrar_evento(evento) }}
{% endfor %}
</div>
<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8", style="text-align: center">
<div class="paginacion_original">

       {% if eventos.has_prev %}
   <a href="{{ url_for('pagina', pag=eventos.prev_num,fecha_desde=filtro.fecha_desde.data,fecha_hasta=filtro.fecha_hasta.data,opciones=filtro.opciones.data) }}"> Anterior </a>
           {% endif %}


           {% for i in range(1,(eventos.pages+1)) %}
           {% if eventos.page == i %}
           <a class="active" href="{{ url_for('pagina', pag=i) }}">{{i}}</a>
           {% else %}
           <a href="{{ url_for('pagina', pag=i,fecha_desde=filtro.fecha_desde.data,fecha_hasta=filtro.fecha_hasta.data,opciones=filtro.opciones.data) }}">{{i}}</a>
           {% endif %}
           {% endfor %}

{% if eventos.has_next %}
   <a href="{{ url_for('pagina', pag=eventos.next_num,fecha_desde=filtro.fecha_desde.data,fecha_hasta=filtro.fecha_hasta.data,opciones=filtro.opciones.data) }}"> Siguiente </a>
           {% endif %}

       </div>
       </div>
<div class="col-md-2"></div>
</div>
</div>
{% endblock %}
