{% from "macros.html" import mostrar_evento %}
{% extends "cabecera_footer.html" %}
{% block estilo %}
 <link rel="stylesheet" href="{{url_for('static',filename='css/estilogeneral.css') }}">
{% endblock %}
{% block iconos %}
<link rel="stylesheet" href="{{url_for('static',filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
{% endblock %}
{% block contenido %}
<div class="container" id="filtro">

		<form method="POST" action="{{ url_for('pagina') }}" enctype="multipart/form-data">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<div class="form-group">
        <div class="row">
				<div class="col-md-3">
					{{mostrar_campo(filtro.fecha_desde, class='form-control')}}
				</div>
				<div class="col-md-3">
					{{mostrar_campo(filtro.fecha_hasta, class='form-control')}}
				</div>

				<div class="col-md-3">
					{{mostrar_campo(filtro.opciones, class='form-control')}}
				</div>
        <div class="col-md-3">
          {{ mostrar_campo_submit(filtro.submit , class='btn btn-warning boton-filtro')}}
				</div>

			</div>
      </div>
			<!--<div class="form-inline">
				<div class="col-md-4">
					</div>
					<div class="col-md-4">

						</div>
						<div class="col-md-4">
							</div>

			</div>-->

		</form>

</div>

	<!--<div class="cabecera">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1> </h1>
					<form class="form-inline">
						<div class="form-group">
							<label for="texto">Desde</label>
							<input type="date" name="campotexto" id="date" class="form-control">
						</div>
						<div class="form-group">
							<label for="texto">Hasta</label>
							<input type="date" name="campotexto" id="date" class="form-control">
						</div>
						<div class="form-group">
							<label for="texto">Título</label>
							<input type="text" name="campotexto" id="texto" class="form-control">
						</div>
						<div class="form-group">
							<label for="texto">Categoría</label>
							<select name="desplegable" id="desplegable" class="form-control">
								<option value="">--Elegir una opción --</option>
								<option value="opcion1">Fiesta</option>
								<option value="opcion2">Cumpleaños</option>
								<option value="opcion3">Casamiento</option>
								<option value="opcion4">Juntada Amigos</option>
							</select>
						</div>
						<div>
							<button class="btn btn-info" type="submit"><span class="oi oi-magnifying-glass"></span>Buscar</button>
						</div>
						<div class="card-deck">
							<div class="card">
								<img class="card-img-top img-fluid" src="{{url_for('static',filename='imagenes/formula1.jpeg')}}" alt="Card image cap" height="200 px">
								<div class="card-body">
									<h5 class="card-title">Evento 1 </h5>
									<p class="card-text"><span class="oi oi-calendar" title "calendar"></span>09/01/2019</p>
									<p class="card-text"><span class="oi oi-clock" title "clock"></span>23:00</p>
									<p class="card-text"><span class="oi oi-map" title "map"></span>Necochea</p>
									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
								</div>
							</div>
							<div class="card">
								<img class="card-img-top img-fluid" src="{{url_for('static',filename='imagenes/pirelli.jpeg')}}" alt="Card image cap" height="200 px">
								<div class="card-body">
									<h5 class="card-title">Evento 2</h5>
									<p class="card-text"><span class="oi oi-calendar" title "calendar"></span>04/01/2019</p>
									<p class="card-text"><span class="oi oi-clock" title "clock"></span>20:00</p>
									<p class="card-text"><span class="oi oi-map" title "map"></span>Mendoza</p>
									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
								</div>
							</div>
							<div class="card">
								<img class="card-img-top img-fluid" src="{{url_for('static',filename='imagenes/goodyear.jpeg')}}" alt="Card image cap" height="200 px">
								<div class="card-body">
									<h5 class="card-title">Evento 3</h5>
									<p class="card-text"><span class="oi oi-calendar" title "calendar"></span>07/01/2019</p>
									<p class="card-text"><span class="oi oi-clock" title "clock"></span>22:00</p>
									<p class="card-text"><span class="oi oi-map" title "map"></span>General Roca</p>
									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html> VA EN EL MACRO-->
<div class="row">
{% for evento in listaeventos %}
{{ mostrar_evento(evento) }}
{% endfor %}

</div>
{% endblock %}
